:root {
    --mainText: #f9faf8;
    --secondaryText: #e5e7eb;
    --buttonColor: #3882f6;
    --darkBlueBG: #1f2937;

}

@keyframes scales{
    0% { transform: scale(1.1); }
}

@keyframes movingGradient {
    0% {background-color: var(--darkBlueBG);}
    25% {background-color: #374962;}
    50% {background-color: #506a8e;}
    75% {background-color: #374962;}
    100% {background-color: var(--darkBlueBG);}
}

body{
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

body::-webkit-scrollbar{
    display: none;
}

.section_1 {
    background-color: var(--darkBlueBG);
    position: static;
    height: 50%;
    padding: 0% 10% 10%;
    margin: -1% -1% 0 -1%;
    animation: movingGradient 5s infinite ease-in-out;
}

.top_navbar_1{
    background-color: #1f2937;
    color: var(--secondaryText);
    position: sticky;
    animation: movingGradient 5s infinite ease-in-out;
    display: grid;
    grid-template-columns: 50% auto auto auto;
    height: 90%;

}

.top_navbar_1 img{
    margin-top: 3.5%;
}

.top_navbar_1 #topbar_links{
    margin: 0;
    padding: 10% 5% 1% 5%;
    justify-self: center;
}

.top_navbar_1 #topbar_links:hover{
    background-color: #2b394d;
    animation: scales .1s ease-in;
    scale: 1.1;
}

.top_content{
    padding-top: 10%;
    width: 50%;
}

.top_content h1{
    color: var(--mainText);
}

.top_content p, .top_content img{
    color: var(--secondaryText);
}

.footer{
    background-color: var(--darkBlueBG);
    position: fixed;
    width: 100%;
    height: 10%;
}

.section_2{
    background-color: azure;
    position: static;
    padding: 10% 10%;
    justify-self : center;
}

.section_3{
    background-color: var(--secondaryText);
}